.qns-main {
    margin: 3rem 0 1rem 0;
    justify-content: center;
    display: flex;
  }
  
  .question-dialog {
    width: 40vw;
    color: var(--text-color-primary);
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 1rem 2rem;
  }
  
  .qns-title {
    margin: 1rem 0;
    justify-content: center;
    display: flex;
  }
  
  .qsn_scr {
    display: flex;
    padding: 0 2rem;
  }
  
  .score {
    margin-left: auto;
  }
  
  .question {
    padding: 1rem 2rem 0 2rem;
  }
  
  .options-box {
    padding: 1rem 2rem;
  }
  
  .option {
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    border-radius: 2rem;
    width: 100%;
    justify-content: center;
    display: flex;
  }
  
  .option:hover {
    cursor: pointer;
  }
  
  .nxt-btn-container {
    display: flex;
    justify-content: center;
  }
  
  .nxt-qstn {
    width: max-content;
  }
  
  .success {
    background-color: green !important;
    color: black;
    border: none;
  }
  
  .error {
    background-color: red !important;
    color: var(--text-color-primary);
    border: none;
  }
  
  .opacity {
    cursor: default;
  }
  .quiz-btn{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:15rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: aqua;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9rem;
  }
  